<h1>COMMANDNAME ( <em>ARGUMENT</em>, <em>ARGUMENT</em>, ... )</h1>
<div class="w3-container">
	[[DESCRIPTION]]
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<em>No Parameters</em>
	or
	<table class="w3-table w3-striped" >
		<tr>
			<td class="tamedox-parameter">ARG</td>
			<td class="tamedox-parameter-type">WHAT IT IS</td>
			<td class="tamedox-parameter-description">What its purpose is.</td>
		</tr>
	</table>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<em>Returns nothing. Cannot be used in expressions.</em>
	or
	<table class="w3-table w3-striped" >
		<tr>
			<td class="tamedox-parameter">VALUE TYPE</td>
			<td class="tamedox-parameter-description">What the result's value is.</td>
		</tr>
	</table>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		[[WHAT THIS DOES]]
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "NoOp Example" noop commands/noop-example.tame ]-->
</div>

<!-- OPTIONAL SECTION -->
<div class="w3-panel w3-light-gray w3-card-2">
	<h3>See Also</h3>
</div>
<div class="w3-container">
	<p>
		<a href="#">COMMANDNAME OR ENTRYPOINT</a> &mdash; [[HOW THIS IS RELATED]]<br/>
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Technical Junk</h3>
</div>
<div class="w3-container">
	<p>
		[[TECHNOWEENIE HORSESHIT]]
	</p>
</div>
