<h1>NoOp</h1>
<div class="w3-container">
	"No operation." Does nothing.
</div>

<div class="w3-panel w3-light-gray">
	<h3>Usage</h3>
</div>
<div class="w3-code notranslate">
	NoOp();<br/>
</div>

<div class="w3-panel w3-light-gray">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<em>No Parameters</em>
</div>

<div class="w3-panel w3-light-gray">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<em>Returns nothing. Cannot be used in expressions.</em>
</div>

<div class="w3-panel w3-light-gray">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This does absolutely nothing. Changes nothing on the context, reads nothing from the context. Truely and honestly does nothing important.
	</p>
</div>

<div class="w3-panel w3-light-gray">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "NoOp Example" noop commands/noop-example.tame ]-->
</div>

<div class="w3-panel w3-light-gray">
	<h3>Technical Junk</h3>
</div>
<div class="w3-container">
	<p>
		Well, <em>technically</em>, it still counts as a command executed. If you called enough <span class="w3-codespan">NoOp</span> commands, eventually
		you will hit the command limit for detecting "runaway" requests or endless loops.
	</p>
	<p>
		So, it isn't exactly footprint-less. Calling it DOES something, but nothing that affects anything very important.
	</p>
</div>
