<h1>CallMaybe ( <em>NAME</em> );</h1>
<div class="w3-container">
	Calls a <a href="language-blocks.html#procedure">procedure</a> block in the current element context's lineage, but unlike
	<a href="command-call.html">Call</a>, this will not throw an error if it does not exist.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<table class="w3-table w3-striped" >
		<tr>
			<td class="tamedox-parameter">NAME</td>
			<td class="tamedox-parameter-type">Value or Expression</td>
			<td class="tamedox-parameter-description">The name of the procedure to call.</td>
		</tr>
	</table>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<em>Returns nothing. Cannot be used in expressions.</em>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		Calls a <a href="language-blocks.html#procedure">procedure</a> with the same name as the value parameter, if it exists. 
		The procedure must be in the same element as the command, or within its lineage (parent elements).
	</p>
	<p>
		Like the name of the procedure, the value can be any type. The procedure called must have a name 
		<em>strictly equal</em> to the value.
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "CallMaybe Example" module_callmaybe_example commands/callmaybe-example.tame ]-->
<!--[ tamescript "CallMaybe Example with Inheritance" module_callmaybe_inheritance_example commands/callmaybe-inheritance-example.tame ]-->
</div>

<!-- OPTIONAL SECTION -->
<div class="w3-panel w3-light-gray w3-card-2">
	<h3>See Also</h3>
</div>
<div class="w3-container">
	<p>
		<a href="command-callfrom.html">Call</a> &mdash; Similar to <span class="w3-codespan">CallMaybe</span>, but adds an <kbd>ERROR</kbd> cue if it can't find the procedure.<br/>
		<a href="command-callfrommaybe.html">CallFromMaybe</a> &mdash; Same as <span class="w3-codespan">CallMaybe</span>, but from an arbitrary element's context.<br/>
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Technical Junk</h3>
</div>
<div class="w3-container">
	<p>
		<span class="w3-codespan">CallMaybe</span> always searches backwards from the origin context despite a block existing either earlier or later
		in an element's lineage. It also uses <strong>strict</strong> equality to search for the matching procedure. It must be the same type 
		(e.g. <span class="w3-codespan">"3"</span>, <span class="w3-codespan">3.0</span>, and <span class="w3-codespan">3</span> are all NOT equal). So, whatever works for 
		the <span class="w3-codespan">===</span> operator.
	</p>
</div>
