<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="StyleSheet" type="text/css" href="css/w3.css" />
		<link rel="StyleSheet" type="text/css" href="css/style.css" />
		<link rel="StyleSheet" type="text/css" href="css/font-awesome.min.css">
		<title>TAME Documentation - <!--[ print $title ]--></title>
	</head>
	<body>

		<!-- Sidebar -->
		<div class="w3-sidebar w3-bar-block w3-collapse w3-card-2" style="width:320px;" id="tamedox-sidebar">
			<button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="tamedoxCloseBar()">Close &times;</button>
			<div class="w3-container">
			<!--[ include sidebar.html ]-->
			</div>
		</div>

		<!-- Main -->
		<div class="w3-main" style="margin-left:320px">
			<div class="w3-teal">
				<div class="w3-container">
					<button class="w3-button w3-teal w3-xlarge w3-hide-large w3-left" onclick="tamedoxOpenBar()">&#9776;</button> 
					<h1><img class="nav-logo" src="images/tame-logo-white.svg" /> <!--[ print $title ]--></h1>
				</div>
			</div>
			<div class="w3-container">
				
				<!-- Content  -->
				<!--[ include $content_page ]-->

				<!-- Footer  -->
				<div class="w3-border-top w3-border-color-gray" style="margin-top:3em;font-size:75%;">
					TAME &copy; 2016-2017 Matt Tropiano<br/>
					All Rights Reserved.<br/>
					Uses <a href="https://www.w3schools.com/w3css/default.asp">W3.CSS</a>
				</div>
			</div>
		</div>
		
		<!-- TAME Modal -->
		<div id="tame-modal" class="w3-modal">
			<div class="w3-modal-content  w3-animate-top w3-card-12">
				<header class="w3-container w3-dark-gray"> 
					<div onclick="tameHideModal()" class="w3-button w3-large w3-display-topright">&times;</div>
					<h3 id="tame-title">Modal Header</h3>
				</header>
				<div id="tame-modal-output" class="w3-container w3-black" style="height:480px;overflow:auto;">
					<pre id="tame-output" class="w3-black"></pre>
				</div>
				<footer class="w3-dark-gray">
					<div id="tame-modal-input" class="w3-border-top w3-border-color-dark-gray">
						<input id="tame-input" type="text" class="w3-input w3-black" />
					</div>
					<div id="tame-modal-continue">
						<span onclick="tameContinue()" class="w3-button w3-green w3-round">Continue</span>
					</div>
				</footer>
			</div>
		</div>
		<script type="application/javascript" src="js/generated/TAME.js"></script>
		<script type="application/javascript" src="js/generated/TAMEBrowserHandler.js"></script>
		<script type="application/javascript" src="js/tamedox.js"></script>
		<script type="application/javascript" src="js/tame-implementation.js"></script>
	</body>
</html>
