body {
	font-size: 100%;
	font-family: sans-serif;
	margin: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

ul, ol {
	list-style-type: none;
	padding-left: 0;
}
ul ul {
	list-style-type: none;
	margin-bottom: 0.5em;
	padding-left: 1.0em;
}

.sidebar {
	float: left;
	max-height: 100%;
	overflow: auto;
	padding: 0.5em;
	margin: 0;
}

.sidebar-logo {
	width: 330px;
	height: 198px;
}

.content {
}
