html 
{
	font-family: Verdana, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 
{
	font-family: "Segoe UI", Verdana, sans-serif;
	font-weight: 400;
	line-height: 1;
	margin: 20px 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {font-weight: inherit;}
h1 {font-size: 36px}
h2 {font-size: 30px}
h3 {font-size: 24px}
h4 {font-size: 20px}
h5 {font-size: 18px}
h6 {font-size: 16px}

hr {
	height: 0;
	border: 0;
	border-top: 1px solid #eee;
	margin: 20px 0;
}

ul a {
    text-decoration: none;
}
 
ul a:hover {
    text-decoration: underline;
}
 
ul.sidebar-list {
    list-style-type: none;
    padding-left: 0;
}
 
ul.sidebar-list ul {
    list-style-type: none;
    padding-left: 1.0em;
}
 
li.section {
    margin-top: 0.5em;
    font-size: 100%;
}
 
li.group {
    margin-top: 0.5em;
    line-height: 1.25em;
}
 
IMG.main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 55%;
    height: auto;
}
 
IMG.nav-logo {
    display: inline;
    width: 134px;
    height: 77px;
}
 
.sidebar-footer {
    padding: 0.25em;
}

.syntaxhighlighter {
	max-height: 30em;
}

.tamedox-footer {
	padding-top: 0.5em;
	margin-top: 3em;
	font-size:75%;
}

.tamedox-parameter {
	font-style: italic;
	font-weight: 800;
	width: 1px;
}
.tamedox-parameter-type {
}
.tamedox-parameter-description {
}

#tame-input {
	font-family: "Courier New", monospace;
	font-weight: 400;
	line-height: 1.25em;
}
#tame-modal-output {
	height: 25em;
	overflow: auto;
}
#tame-output {
	font-family: "Courier New", monospace;
	font-weight: 400;
	line-height: 1em;
}

/* For link hovering. */
.link-stub {
	visibility: hidden;
}

.w3-panel:hover .link-stub {
	visibility: visible;
}



